body{
    height: 100vh;
    /* This height thing is EXTREMELY important, apparently. */
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.space{
    padding: 0px 128px;
}

.header{
    height: 32px;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
}

.logo{
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.right {
    font-size: 18px;
    display: flex;
    gap: 12px;
    align-self: center;
}

a{
    text-decoration: none;
    color: #E5E7EB;
}


.content{
    flex: 1;
}


.one{
    font-size: 48px;
    font-weight: 900px;
    color: #F9FAF8;
    background-color: #1f2937;
}

.two{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.three{
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1f2937;
    background-color: #E5E7EB;
}

.footer{
    height: 32px;
    color: #E5E7EB;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}