body{
    height: 100vh;
    /* This height thing is EXTREMELY important, apparently. */
    margin: 8px 0px;
    display: flex;
    flex-direction: column;
}

.space{
    padding: 0px 128px;
}

.header{
    height: 32px;
    display: flex;
    justify-content: space-between;
}

.right {
    display: flex;
    gap: 12px
}

a{
    text-decoration: none;
}

.content-1{
    flex: 1;
    background-color: gray;
}

.content-2{
    flex: 1;
}

.footer{
    height: 32px;
    text-align: center;
}